{% extends 'base.html' %} {%block content%}
<h1 class="text-center my-2 mt-4 shadow p-2 bg-gradient rounded">Game Details</h1>
<div class="justify-content-center bg-success-subtle shadow mt-4">
  <dl class="m-2">
    <dt>Game Name</dt>
    <dd>{{game.name}}</dd>
    <dt>Type</dt>
    <dd>{{game.type}}</dd>
    <dt>Release Year</dt>
    <dd>{{game.release_year}}</dd>
    <dt>Developer</dt>
    <dd>{{game.developer}}</dd>
    <dt>Platform</dt>
    <dd>{{game.platform}}</dd>
    <dt>Price</dt>
    <dd>{{game.price}}</dd>
  </dl>
</div>
{%endblock%}
